{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "ie 11"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    [
      "@babel/plugin-proposal-decorators",
      { "legacy": true }
    ]
  ]
}